h1,h2,h3,h4,h5 { 
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #C4C4C4;
    letter-spacing: 0.2px;
    
}

h3, h5 { 
    letter-spacing: 0.1px;
}

h1 { 
    font-weight: 900;
    font-size: 55px;
    line-height: 66px;
}
h2 { 
    font-weight: 400;
    font-size: 46px;
    line-height: 57px;
}
h3 { 
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
}
h4 { 
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}
h5 { 
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
}