.hero {
    background: url('../assets/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:bottom;
    padding-top: 26rem;

   .container {
        padding: 8rem 0px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        .main-text { 
            text-align: center;
            margin-bottom: 8rem;
            h3 { 
                margin-bottom: 1.7rem;
            }
            h4 {
                margin: 0 auto;
                width: 100%;
                max-width: 42.9rem;
                margin-bottom: 1.7rem;
            }
            h1 {
                margin-bottom: 2.7rem ;
            }
            
        }
        button {
            margin-bottom: 6.7rem;
        }
      
       
      
   }

   @include responsive(1180px) { 
    .container {
        img { 
           width: 100%;
           max-width: 80rem;
           padding:0 5rem ;

        }
    }
  }
 
  @include responsive(480px) {
    padding-top: 8rem;
    .container { 
        .main-text { 
            margin-bottom: 4rem;
        }
    }
}
}

.feature {
    padding: 9.3rem 0;
    .container { 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        max-width: 129rem;
        .mainText {
            text-align: center;
            margin-bottom: 12.8rem;
            h3 { 
                margin-bottom: 1.7rem;
            }
            h2 { 
                margin-bottom: 2.7rem;
            }

        }
        .imageInfo { 
            display: flex;
            max-width: 129rem;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            .imgscreen {
                display: flex;
                img { 
                    height: 530.98px;
                    
                }
            }
            .infos {
                display: flex;
                flex-direction: column;
                gap: 9.5rem;
                .info {
                    display: flex;
                    gap: 3.5rem;
                    width: 26rem;
                    flex-direction: column;
                    .headIfo { 
                        display: flex;
                        gap: 1rem;
                    }
                }
            }
        }
    }
    @include responsive(1300px) { 
        .container { 
            .imageInfo { 
                gap: 5rem;
                flex-direction: column;
                .infos { 
                    flex-direction: row;
                }
                .imgscreen {
                    display: flex;
                    width: 100%;
                    padding: 0 2rem;

                }
            }
            
        }
    }

    @include responsive(680px) { 
        .container { 
           .imageInfo { 
            .infos { 
                flex-direction: column;
                .info { 
                    text-align: center;
                    align-items: center;
                    width: 100%;
                    max-width: 54.8rem;
                }
            }
           }
        }
    }

    @include responsive(480px) {
        padding: 4rem 0;
       .container { 
        .mainText { 
            margin-bottom: 8rem;
        }
        .imageInfo { 
            .infos { 
                padding: 0 2rem;
            }
        }
       }
    }
    
}

.light { 
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8rem 0;
        .main-text {
            text-align: center;
            margin-bottom: 9rem;
             h3 { 
                margin-bottom: 1.7rem;
             }
             h2 { 
                margin-bottom: 2.7rem;
             }
           
        }
        .buttons { 
            display: flex;
            gap: 1.6rem;
        }
    }
    @include responsive(480px) { 
        padding: 3rem 0;
        .container { 
        .buttons { 
            flex-direction: column;
        }
        }

    }
}

.light-form { 
    .container { 
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 140rem;
        padding: 11rem 3rem;
        .mainText { 
            .top {
                margin-bottom: 1.7rem;
            }
            .middle { 
                margin-bottom: 3.4rem;
            }
            .input { 
                display: flex;
                align-items: center;
            }
        }
    }
    @include responsive(1300px){ 
        .container { 
            flex-direction: column;
            gap: 10rem;
            .imageVector { 
               img { 
                width: 100%;
                display: flex;
               }
            }
        }
    }
    @include responsive(680px) { 
        .container { 
            .mainText { 
                text-align: center;
                .input { 
                    gap: 2rem;
                    flex-direction: column;
                }
            }
        }
    }
}

.partner { 
    .container { 
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 8rem 0;
        .mainTitle { 
            text-align: center;
            margin-bottom: 11rem;
            h2 { 
                margin-bottom: 2.7rem; 
            }
            h4 { 
                width: 100%;
                max-width: 30rem;
            }
        }
        .imagesPartner { 
            margin-bottom: 10rem;
            display: flex;
            flex-wrap: wrap;
            gap: 6.7rem;
            align-items: center;
            justify-content: center;
            
        }

    }
}

.testimonials { 
    .container {
        @include flex(column, center, center);
        padding: 10rem 0;

        h2 { 
            margin-bottom: 9rem;
        }
        .cards {
            gap: 6rem;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 8rem;
        }
    }
}

.pricing { 
    .container{
        padding: 10rem 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 28rem;
        .priceText {
            h1{ 
                margin-bottom: 2.6rem;
            } 
           p { 
                width: 100%;
                max-width: 34rem;
           } 
        }
        .side {
            width: 100%;
            max-width: 34rem;
            display: flex;
            flex-direction: column;
            .priceValue { 
                margin-bottom: 3rem;
                h4 { 
                margin-bottom: 1.6rem;
                }
                .price {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                }

            }
            .botton {
                margin-bottom: 2rem;
            }
        }
        @include responsive(810px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 11rem;
            max-width: 100%;
           
        }
    }
}

.contact { 
    .container {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10rem 2rem;
        .mainText { 
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 7.4rem;
        h2 { 
            margin-bottom: 2.7rem;
        }
        h4 { 
            width: 100%;
            max-width: 299rem;
            margin-bottom: 7.4rem;
        }
        .socialMedia-ico { 
            display: flex;
            gap: 3.2rem;
        }
       } 
       .map { 
        display: flex;
        flex-direction: column;
        gap: 6rem;
        margin-bottom: 6rem;
        .address { 
            display: flex;
            justify-content: space-between;
            .box {
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                max-width: 21rem;
                gap: 2rem;
            }
        }
        .map-screen { 
            width: 100%;
        }
       }
       .contact-form {
       Input { 
            padding: 19px 20px;
            gap: 47px;
            width: 100%;
            height: 54px;
            background: #F5F5F5;
            border: 1px solid #E8E8E8;
            border-radius: 39px;
        }
        textarea { 
            padding: 19px 20px;
            gap: 47px;
            height: 19rem;
            width: 100%;
            height: 20rem;
            background: #F5F5F5;
            border: 1px solid #E8E8E8
        }
       }
    }
}